.groovy-admin-info-wrap aside {
	border: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*box-shadow: 0 0 5px black;*/
    width: calc(100% - 20px);
    background-color: #FFF;
    text-align: center;
    margin: 0;
}

.groovy-admin-info-wrap aside a  {
	text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.groovy-admin-info-wrap .info-content {
	padding-right: 20px;
}